<div>
    <div>
        <img src="../../assets/images/contact1.jpg"  alt="image_thumbnail" style="height: 400px; width: 100%;">
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-6">



                <form [formGroup]="detailsForm">
                    <label for="">First Name:</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="firstName">
                    </div>
                    <label for="">Last Name:</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="lastName">
                    </div>
                    <label for="">Email address:</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="emailID">
                    </div>
                    <label for="">Message:</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="msg">
                    </div>
                    <div class="mb-3">
                        <input type="checkbox"> Remember me
                    </div>                   
                        <button type="button" (click)="submit()" [disabled]="detailsForm.invalid" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit</button>
                </form>

            </div>
            <div style="border-left:2px solid red ;" class="col-6">
                <h2 style="color: #051449;">
                    <u>Seasecure</u>
                </h2><br>
                <div style="letter-spacing: 1px;">
                    <h3 style="color: orange;">
                        <i class="bi bi-geo-alt-fill"></i>Visit Us
                    </h3>
                    <p style="padding-top: 5px; ">B-307, Kukreja Center Premises, Plot no.13, Sector 11, CBD
                        Belapur, Navi Mumbai 400614</p>
                    <h3 style="color: orange;">
                        <i class="bi bi-telephone-fill"></i>Contact No.
                    </h3>
                    <p style="padding-top: 5px; ">Mob No:+91 9967530048, Landline :- 02249628840</p>
                    <h3 style="color: orange;">
                        <i class="bi bi-envelope-at-fill"></i>Email Id
                    </h3>
                    <p style="padding-top: 5px; ">{{"karan.jain2811@gmail.com"}}</p>
                </div>
            </div>
         </div>
    </div>

    <mahesh-table *ngIf="show" [dataChild]="dataPar" [header]="header"></mahesh-table>
    <mahesh-table *ngIf="show2" [dataChild]="dataPar2" [header]="header2"></mahesh-table>


   <!-- <app-modal-with-tn-c [vijay]="detailsForm.value" header="Terms & Condition"></app-modal-with-tn-c> -->



   <!-- Input Decorator -->
        <!-- parent -> child -->

   <!-- Output Decorator -->
        <!-- child -> parent -->

   <!-- Services -->
        <!-- relation hi nhi hai   -->
            <!-- Singelton -->

   <!-- RXJS -->
        <!-- relation hi nhi hai  -->
            <!-- subscribe Algo -->
                <!-- subject  -->
